  <header class="bar-title">
    <h1 class="title">Settings</h1>
  </header>
  <nav class="bar-tab">
    <ul class="tab-inner">
      <li class="tab-item">
        <a href="#/">
          <img class="tab-icon" src="img/icon-home.png">
          <div class="tab-label">Movies</div>
        </a>
      </li>
      <li class="tab-item active">
        <a href="#/settings">
          <img class="tab-icon" src="img/icon-settings.png">
          <div class="tab-label">Settings</div>
        </a>
      </li>
    </ul>
  </nav>
  <div class="content">
    <div class="form-wrapper">
        <ul class="settingsTableView">
            <p>Key Value Cells</p>
            <li class="value-one"><span ng-click="step1();">Step 1</span></li>
            <li class="value-one"><span ng-click="step2();">Step 2</span></li>
            <li class="value-one"><span ng-click="step3();">Step 3</span></li>
            <li class="value-one"><span ng-click="step4();">Step 4</span></li>
        </ul>
    </div>
  </div>