<!--
// Pomidoro Mobile Application
// TheatersControllerView.html
//
// created by @sauliuz
// PopularOwl Labs // www.popularowl.com
// Visit www.htmlcenter.com 
// for more mobile application templates
-->
  <header class="bar-title">
    <a class="button-prev" href="#/">
      Back
    </a>
    <h1 class="title">Find a theater</h1>
  </header>

<nav class="bar bar-tab">
  <a class="tab-item" href="#">
    <span class="icon icon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-person"></span>
    <span class="tab-label">Profile</span>
  </a>
  <a class="tab-item active" href=" #/toc">">
    <span class="icon icon-star-filled"></span>
    <span class="tab-label">Contents</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-search"></span>
    <span class="tab-label">Search</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon icon-gear"></span>
    <span class="tab-label">App Info</span>
  </a>
</nav>
  <div class="content"><li class="table-view-cell"><span ng-click="step1();">Step 1</span> </li>
      <li class="table-view-cell"><span ng-click="step2();">Step 2</span> </li>
      <li class="table-view-cell"><span ng-click="step3();">Step 3</span> </li>
      <li class="table-view-cell"><span ng-click="step4();">Step 4</span> </li>
      <li class="table-view-divider">Information</li>
    </ul>
  </div>